// Typography
$main_font: 'Montserrat', sans-serif;


// Colors
$skyBlue: #14635f;
$blue: #1c3a8c;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;
$lighterGray: #cac6c6;
$gray: #3f3d3d;
$darkPurple: #200341;
$colorTest1: #3e1616;
$green: #073112;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;